body {
    background-color: #3d3d3d;
    text-align: center;
}

.btn {
    padding: 0px;
}

h1 {
    color: white;
}

form {
    margin: auto;
    width: 50%;
    background-color: white;
}

div {
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}

.div_nostyle {
    margin: auto;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    margin: auto;
    width: 50%;
}

a {
    margin: auto;
    width: 50%;
}

.a_nostyle {
    margin: 0px;
    width: auto;
}

textarea {
    width: 80%;
    resize: none;
}

input {
    width: 80%;
}

@media screen and (max-width: 998px) {
    a {
        width: 100%;
    }

    body {
        font-size: 50%;
        text-align: right;
    }

    form {
        font-size: 50%;
    }

    button {
        padding: auto !important;
        position: center !important;;
        width: auto !important;;
        font-size: 50% !important;;

    }

    div {
        text-align: center;
        margin: auto;
        width: 50%;
    }

    p {
        padding: auto;
        margin: auto;
        text-align: center;
    }

    h4 {
        font-size: 50%;
        alignment: left;
        padding: auto;
    }

    h3 {
        font-size: 50%;
        alignment: left;
        padding: auto;
    }

    h1 {
        font-size: 50%;
        text-align: center;
        padding: auto;
    }
}

.topnav a {
    font-size: 100%;
    display: block;
    text-align: center;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.white
{
    color:white;
}