{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
    <h1>Add Game</h1>
    <form action="" method="post" name="Game">
        {{ form.hidden_tag() }}
        <h3>Game Title</h3>
        <p>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Game Developer</h3>
        <p>
            {{ form.developer }}<br>
            {% for error in form.developer.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Game Genre</h3>
        <p>{{ form.description }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Platform</h3>
        <p>
            {{ form.platform }}<br>
            {% for error in form.platform.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Add Game"></p>
    </form>
{% endblock %}
