<html>
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>No title</title>
    {% endif %}
</head>
<body>

{% extends "base.html" %}
{% block content %}
    <h1>Game Library</h1>

    {% for t in Game %}

        <div class="card">
            <div class="card-block">
                <p class="card-title"><b>{{ t.title }}</b></p>
                <p class="card-text"><b>Developer:</b> {{ t.developer }}</p>
                <p class="card-text"><b>Description:</b> {{ t.description }}</p>
                <p class="card-text"><b>Platform:</b> {{ t.platform }}</p>
                <form action="" method="POST">
                    <button type="submit" name="submit" value={{ t.id }} class="btn btn-success">Add to library</button>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}
</body>
</html>
