<!DOCTYPE html>
<html>
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!--Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title> No title specified</title>
    {% endif %}
</head>
<body>

{% if current_user.is_authenticated %}
    <nav class="topnav navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand" href="ownedgames">Profile</a>
            <a class="navbar-brand" href="allgames">Full Library</a>
            <a class="navbar-brand" href="creategame">Add a Game</a>
            <a class="navbar-brand" href="location">Location</a>
            <a class="navbar-brand" href="logout">Logout</a>
        </div>
    </nav>
    <div class="card">
        <div>Hello {{ current_user.username }}</div>
        <form>Background Colour:
            <select id="background" onchange="changebackground()">
                <option value="#3d3d3d">Default</option>
                <option value ="Black">Black</option>
                <option value = "Blue">Blue</option>
                <option value = "Red">Red</option>
                <option value = "Green">Green</option>
            </select>
{#            <button onclick="changebackground()">Change Background</button>#}
        </form>
    </div>
    {% if not seen %}
     <form action = "/setcookie">
         <p>This website uses cookies to deliver the best user experience!</p>
         <p><input type = 'submit' value = 'Accept'/></p>
      </form>
    {% endif %}
{% endif %}


<div>
    {% block content %}{% endblock %}
</div>

<!-- jquery, Tether and bootsrap js -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="../static/scripts.js"></script>

</body>
</html>
