{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
    <h1>Change Password</h1>
    {% if passwords_invalid %}
        <div class="div_nostyle alert alert-danger alert-dismissable">
            <a href="#" class="a_nostyle close" data-dismiss="alert" aria-label="close">&times;</a>
            Username or Password incorrect
        </div>
    {% endif %}
    <form action="/changepassword" method="post" name="Game">
        {{ form.hidden_tag() }}
        <h3>Username</h3>
        <p>
            {{ form.usersname }}<br>
            {% for error in form.usersname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Password</h3>
        <p>
            {{ form.oldpassword }}<br>
            {% for error in form.oldpassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>New Password</h3>
        <p>
            {{ form.newpassword }}<br>
            {% for error in form.newpassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Change Password"/></p>
    </form>
    <form action="/login">
        <p>
        <h3>Return to login</h3>
        <input type="submit" value="login"/>
        </p>
    </form>
{% endblock %}
