<html>
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>No title</title>
    {% endif %}
</head>
<body>

{% extends "base.html" %}
{% block content %}
        <h1>Location</h1>

    <!-- Google maps Api to display geo-location -->
    <div id="map"></div>
    <h3 class="white">If location is not detected allow location permissions</h3>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtqWAsyKSQp75bXZpbNsP5Ln3ZUkcWqPw&callback=initMap">
    </script>

{% endblock %}

</body>
</html>
