{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
    <h1>Login</h1>
        {% if passwords_invalid %}
        <div class="div_nostyle alert alert-danger alert-dismissable">
            <a href="#" class="a_nostyle close" data-dismiss="alert" aria-label="close">&times;</a>
            Username or password is wrong!
        </div>
    {% endif %}
    <form action="/login" method="post" name="Game">
        {{ form.hidden_tag() }}
        <h3>Username</h3>
        <p>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Password</h3>
        <p>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>remember me {{ form.remember }}</p>
        <p><input type="submit" value="Login"/></p>
    </form>
    <form action="/register">
        <p>
        <h3>Not already registered?</h3>
        <input type="submit" value="Register Here"/>
        </p>
    </form>

    <form action="/changepassword">
        <p>
        <h3>Change Password</h3>
        <input type="submit" value="Change Password"/>
        </p>
    </form>

{% endblock %}
