{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
    <h1>Register</h1>
    {% if passwords_invalid %}
        <div class="div_nostyle alert alert-danger alert-dismissable">
            <a href="#" class="a_nostyle close" data-dismiss="alert" aria-label="close">&times;</a>
            Passwords do not match!
        </div>
    {% endif %}
    {% if user_exists %}
        <div class="div_nostyle alert alert-danger alert-dismissable">
            <a href="#" class="a_nostyle close" data-dismiss="alert" aria-label="close">&times;</a>
            Username is already taken!
        </div>
    {% endif %}
    <form action="/register" method="post" name="User">
        {{ form.hidden_tag() }}
        <h3>Username</h3>
        <p>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Email</h3>
        <p>
            {{ form.email }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Enter Password</h3>
        <p>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <h3>Re-enter Password</h3>
        <p>
            {{ form.repassword }}<br>
            {% for error in form.repassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Register"></p>
    </form>

    <form action="/login">
        <p>
        <h3>Already got an account?</h3>
        <input type="submit" value="Login"/>
        </p>
    </form>
{% endblock %}
